In [40]:
import pandas as pd
df_data = pd.DataFrame({'年级':['大一','大二','大三','大四','大二','大三','大一','大三','大四'],
                             '姓名':['李宏卓','李思真','张振海','赵鸿飞','白蓉','马腾飞','张晓凡','金紫萱','金烨'],
                             '年龄':['18','19','20','21','19','20','18','20','21'],
                             '性别':['男','女','男','男','女','男','女','女','男'],
                             '身高(cm)':['175','165','178','175','160','180','167','170','185'],
                             '体重(kg)':['65','60','70','75','55','70','52','53','73',]})
df_data

   年级   姓名  年龄 性别 身高(cm) 体重(kg)
0  大一  李宏卓  18  男    175     65
1  大二  李思真  19  女    165     60
2  大三  张振海  20  男    178     70
3  大四  赵鸿飞  21  男    175     75
4  大二   白蓉  19  女    160     55
5  大三  马腾飞  20  男    180     70
6  大一  张晓凡  18  女    167     52
7  大三  金紫萱  20  女    170     53
8  大四   金烨  21  男    185     73

In [41]:
groupby_data = df_data.groupby(by="年级")
dict([x for x in groupby_data])['大一']

   年级   姓名  年龄 性别 身高(cm) 体重(kg)
0  大一  李宏卓  18  男    175     65
6  大一  张晓凡  18  女    167     52

In [42]:
print(groupby_data.max())
average_weight_grade_one = df[df['年级'] == '大一']['体重（kg）'].mean()  
average_weight_grade_three = df[df['年级'] == '大三']['体重（kg）'].mean()

     姓名  年龄 性别 身高(cm) 体重(kg)
年级
大一  李宏卓  18  男    175     65
大三  马腾飞  20  男    180     70
大二   白蓉  19  女    165     60
大四   金烨  21  男    185     75

NameError: name 'df' is not defined