In [3]:
import pandas as pd
df_left = pd.DataFrame({'key':['K0','K1','K2'],
                             'A':['A0','A1','A2'],
                             'B':['B0','B1','B2']})
df_right = pd.DataFrame({'key':['K0','K1','K2','K3'],
                              'C':['C0','C1','C2','C3'],
                              'D':['D0','D1','D2','D3']})
print(df_left)
print(df_right)
result = pd.merge(df_left, df_right, on='key')
print(result)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3
  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

In [4]:
result = pd.merge(df_left, df_right, on='key', how='left')
print(result)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

In [5]:
result = pd.merge(df_left, df_right, on='key', how='right')
print(result)

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K2   A2   B2  C2  D2
3  K3  NaN  NaN  C3  D3

In [6]:
result = pd.merge(df_left, df_right, on='key', how='outer')
print(result)

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K2   A2   B2  C2  D2
3  K3  NaN  NaN  C3  D3

In [7]:
result = pd.concat([df_left, df_right], axis=0)
print(result)

  key    A    B    C    D
0  K0   A0   B0  NaN  NaN
1  K1   A1   B1  NaN  NaN
2  K2   A2   B2  NaN  NaN
0  K0  NaN  NaN   C0   D0
1  K1  NaN  NaN   C1   D1
2  K2  NaN  NaN   C2   D2
3  K3  NaN  NaN   C3   D3

In [8]:
result = pd.concat([df_left, df_right], axis=1)
print(result)

   key    A    B key   C   D
0   K0   A0   B0  K0  C0  D0
1   K1   A1   B1  K1  C1  D1
2   K2   A2   B2  K2  C2  D2
3  NaN  NaN  NaN  K3  C3  D3

In [1]:
import numpy as np
from numpy import NAN
import pandas as pd
df_left = pd.DataFrame({'A': [np.nan, 'A1', 'A2', 'A3'],
                             'B': [np.nan, 'B1', np.nan, 'B3'],
                             'C': ['C0', 'C1', 'C2', 'C3']})    #没有额外表示index   默认为0 1 2
df_right = pd.DataFrame({'A': ['A1', 'A0','A2'],
                              'B': ['B1', 'B0','B2']}, index=[1,0,2])     #index表示对序列号进行编辑
print(df_left)
print(df_right)
# 采用重叠合并的方式组合数据
result = df_left.combine_first(df_right)
print(result)

     A    B   C
0  NaN  NaN  C0
1   A1   B1  C1
2   A2  NaN  C2
3   A3   B3  C3
    A   B
1  A1  B1
0  A0  B0
2  A2  B2
    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3

In [2]:
import pandas as pd
df_obj =  pd.DataFrame({'商品名称': ['荣耀9X','小米6x','OPPO A1',
                                    '荣耀9X','小米6x','OPPO A1'],
                        '出售日期': ['5月25日', '5月25日','5月25日',
                                        '6月18日','6月18日', '6月18日'],
                          '价格(元)': [999, 1399, 1399, 800, 1200, 1250]})
df_obj

      商品名称   出售日期  价格(元)
0     荣耀9X  5月25日    999
1     小米6x  5月25日   1399
2  OPPO A1  5月25日   1399
3     荣耀9X  6月18日    800
4     小米6x  6月18日   1200
5  OPPO A1  6月18日   1250

In [3]:
# 将出售日期一列的唯一数据变换为行索引 使用index属性，商品一列的唯一数据变换为列索引  使用columns属性 ，指定DataFrame中的数据  使用values属性
new_df = df_obj.pivot(index='出售日期', columns='商品名称', 
values='价格(元)')
new_df

商品名称   OPPO A1  小米6x  荣耀9X
出售日期
5月25日     1399  1399   999
6月18日     1250  1200   800

In [4]:
#查看new_df的列索引
print(new_df.columns)
# 将列索引转换为一行数据
new_df.melt(value_name='价格(元)', ignore_index=False)
#或者使用列索引 
#new_df.melt(value_vars=['OPPO A1', '小米6x', '荣耀9X'],value_name='价格(元)', ignore_index=False)

Index(['OPPO A1', '小米6x', '荣耀9X'], dtype='object', name='商品名称')

          商品名称  价格(元)
出售日期
5月25日  OPPO A1   1399
6月18日  OPPO A1   1250
5月25日     小米6x   1399
6月18日     小米6x   1200
5月25日     荣耀9X    999
6月18日     荣耀9X    800

In [5]:
#groupby()方法：根据键将原数据拆分成若干个分组，返回一个可迭代对象
import pandas as pd
df_obj = pd.DataFrame({"key":["C", "B", "C", "A", "B", "B", "A", "C", "A"], 
                       "data":[2, 4, 6, 8, 10, 1, 3, 5, 7]})
print(df_obj)
# 根据key列对df_obj进行分组
groupby_obj = df_obj.groupby(by="key")
print(groupby_obj)   #此处返回的是一个可迭代对象DataFrameGroupBy

  key  data
0   C     2
1   B     4
2   C     6
3   A     8
4   B    10
5   B     1
6   A     3
7   C     5
8   A     7
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000023196D73730>

In [6]:
for group in groupby_obj:  # 遍历DataFrameGroupBy类的对象
    print(group)

('A',   key  data
3   A     8
6   A     3
8   A     7)
('B',   key  data
1   B     4
4   B    10
5   B     1)
('C',   key  data
0   C     2
2   C     6
7   C     5)

In [7]:
#只输出每个分组的信息
#利用列表推导式将列表转换为字典   字典的键即为列表中的第一个元素  值为列表中的第二个元素
result = dict([x for x in groupby_obj])['A']   #先使用列表推导式遍历groupby_obj  随后强制转换为字典  再通过访问字典的方式获取每个分组的信息
print(result)

  key  data
3   A     8
6   A     3
8   A     7

In [8]:
#使用内置的统计方法实现聚合操作
print(groupby_obj.max())   # 使用max()方法聚合分组数据

     data
key
A       8
B      10
C       6

In [9]:
from pandas import DataFrame
df_obj = DataFrame({'a': [0, 6, 12, 18, 24, 30],
                       'b': [1, 7, 13, 19, 25, 31],
                       'c': [2, 8, 14, 20, 26, 32],
                       'd': [3, 9, 15, 21, 27, 33],
                       'e': [4, 10, 16, 22, 28, 34],
                       'f': [5, 11, 17, 23, 29, 35]})
print(df_obj)

    a   b   c   d   e   f
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [10]:
# 根据列表对df_obj进行分组，列表中相同元素对应的行会归为一组
groupby_obj = df_obj.groupby(by=['A', 'A', 'B', 'B', 'A', 'B'])
#查看A组中的数据
dict([x for x in groupby_obj])['A']   #根据设定的AABBAB分组   将行索引为0.1.4的行进行归类

    a   b   c   d   e   f
0   0   1   2   3   4   5
1   6   7   8   9  10  11
4  24  25  26  27  28  29

In [11]:
#查看B组中的数据
dict([x for x in groupby_obj])['B']   #根据设定的AABBAB分组   将行索引为2.3.5的行进行归类

    a   b   c   d   e   f
2  12  13  14  15  16  17
3  18  19  20  21  22  23
5  30  31  32  33  34  35

In [12]:
# 自定义求极差的函数
def my_range(arr):
    return arr.max()-arr.min()
groupby_obj.agg(my_range)  # 使用agg()方法聚合分组数据

    a   b   c   d   e   f
A  24  24  24  24  24  24
B  18  18  18  18  18  18

In [13]:
# 使用agg()方法聚合分组中指定列的数据   a列最大值  b列的和   e列的极差
groupby_obj.agg({'a':'max', 'c':'sum', 'e': my_range})

    a   c   e
A  24  36  24
B  30  66  18

In [14]:
#使用transform()方法聚合分组数据
from pandas import DataFrame
df_obj = DataFrame({'a': [0, 6, 12, 18, 24, 30],
                       'b': [1, 7, 13, 19, 25, 31],
                       'c': [2, 8, 14, 20, 26, 32],
                       'd': [3, 9, 15, 21, 27, 33],
                       'e': [4, 10, 16, 22, 28, 34],
                       'f': [5, 11, 17, 23, 29, 35]})
print(df_obj)
# 根据列表对df_obj进行分组，列表中相同元素对应的行会归为一组
groupby_obj = df_obj.groupby(by=['A', 'A', 'B', 'B', 'A', 'B'])
# 使用transform()方法聚合分组数据
print(groupby_obj.transform('max'))

    a   b   c   d   e   f
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35
    a   b   c   d   e   f
0  24  25  26  27  28  29
1  24  25  26  27  28  29
2  30  31  32  33  34  35
3  30  31  32  33  34  35
4  24  25  26  27  28  29
5  30  31  32  33  34  35